header {
  background: url(../img/catalina.png);
  background-size: cover;
  flex-direction: column;
  height: 625px;
  justify-content: center;
}
main {
  margin: 50px 0;
}
nav .brand-logo {
  padding-top: 1%;
  font-family: Savoye LET;
  font-weight: bold;
}
nav .orderLink {
  padding-top: 1%;
  font-size: 2rem;
  font-family: Savoye LET;
  font-weight: bold;
}
.btn-large {
  border-radius: 50%;
  border: 4px solid white;
  padding: 0px;
  height: 11rem;
  width: 11rem;
  background-image: url('../img/prestigeWorldwide.png');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.brand-logo, .button-collapse {
  margin-left: 10px;
}
#exLink {
  font-family: Savoye LET;
  font-size: 3rem;
  font-weight: bold;
}
a.brand-logo:active, a.brand-logo:hover {
    outline: 0;
    text-decoration: underline;
  }
a.white-text:active, a.white-text:hover {
    outline: 0;
    text-decoration: underline;
  }
